@mixin boxshadow($full: 0 0 0 $gray){
  -webkit-box-shadow:   $full;
  -moz-box-shadow:      $full;
  -o-box-shadow:        $full;
  box-shadow:           $full;
}

$white: #FFF;
$gray:  #AAA;

/*
 * Begin Super Awesome Graphline Stats Graph
 */
.graphline-stats-container {
  @include boxshadow(0px 0px 10px -1px rgba(0, 0, 0, 0.55));
  min-height: 15px !important;
  border-radius: 5px;
}

.graphline-changed {
  $primary: #C40;
  position: absolute;
  left: 100px;
  color: $primary;
  font-size: 1.4em;
}

.graphline-status-definitions-prompt {
  $primary: #AAA;
  position: relative;
  left: -5px;
  top:  28px;
  color: $primary;
  font-size: 1.4em;
  &:hover { color: #888; }
}

$graph1: #181;
$graph2: #7F7;
$graph3: #FF4;
$graph4: #FA4;
$graph5: #B74;
$graph6: #944;

.graphline-stats-table {
  width: 100%;
  .graphline-bucket-segment {
    padding: 10px;
    padding-bottom: 2px;
    float: left;
    display: inline-block;
    background: rgba(0, 0, 0, 0.05);

    &:hover, &.highlighted-segment {
      background: rgba(0, 0, 0, 0.2);
    }

    &.inactive {
      color: #bbb;
      border-bottom: none;
      background: inherit;
      &:hover {
        color: inherit;
        background: rgba(0, 0, 0, 0.2);
    }
  }

    &#box     {
      border-bottom: 4px solid $graph1;
      &.inactive:hover { border-bottom: 4px solid $graph1;
    }
  }

    .bucket-name {
      float: left;
      width: 60%;
    }

    .bucket-count, .bucket-percent {
      float: left;
      width: 20%; text-align: right;
    }
  }
}

#graphline-graph { min-height: 15px; }

.graphline-stats-graph {
  width: 100%;
  line-height: 15px;
  min-height: 15px;
  transition: all 0.5s ease;

  .graphline-bucket-segment {
    float: left;
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    width: 20%;

    &:hover { text-decoration: none; }

    &#segment { background: $graph1; }
  }
}

.highlighted-segment {
  $primary: $white;
  @include boxshadow(0 3px 8px -2px $gray);
  &.inactive { @include boxshadow(none); }
  background: rgba(0, 0, 0, 0.2);
}

// End Super Awesome Graphline Stats Graph
