<!DOCTYPE html>
<html>
<head>
  <title>Graphline</title>
  <%= stylesheet_link_tag    "graphline/application", media: "all" %>
  <%= javascript_include_tag "graphline/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
