%span.graphline-stats-graph
  %a.graphline-bucket-segment{ id: 'proposal_provided_segment', data: { id: PipelineStatus::ID_PROPOSAL } }
    &nbsp;
  %a.graphline-bucket-segment{ id: 'actively_engaged_segment', data: { id: PipelineStatus::ID_ENGAGED } }
    &nbsp;
  %a.graphline-bucket-segment{ id: 'first_contact_segment',  data: { id: PipelineStatus::ID_FIRST_CONTACT } }
    &nbsp;
  %a.graphline-bucket-segment{ id: 'periodic_followup_segment', data: { id: PipelineStatus::ID_FOLLOWUP } }
    &nbsp;
  %a.graphline-bucket-segment{ id: 'awaiting_activity_segment', data: { id: PipelineStatus::ID_AWAITING } }
    &nbsp;
  %a.graphline-bucket-segment{ id: 'closed_segment', data: { id: PipelineStatus::ID_CLOSED } }
    &nbsp;
